* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

html {
    box-sizing: border-box;
}

nav {
    height: 4.25em;
    background: #C1C1C1;

}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    margin: 1em;
}

#logo {
    display: flex;
    font-size: 3em;
    margin: auto;
}

h5  {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #1969b2;
}

a {

}

li {

}


