* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 80%;
    margin: 5px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.message-info {

}

.message-success {

}

.message-warning {

}

.message-error {

}